In [1]:
import pandas as pd

In [59]:
content = pd.read_csv(r"C:\Users\19178\OneDrive\Documents\Downloads\datasets\Content.csv")
reactions = pd.read_csv(r"C:\Users\19178\OneDrive\Documents\Downloads\datasets\Reactions.csv")
rtypes = pd.read_csv(r"C:\Users\19178\OneDrive\Documents\Downloads\datasets\ReactionTypes.csv")

In [16]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [17]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [18]:
rtypes.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

### check for missing values

In [60]:

missing_values_count = content.isnull().sum()
missing_values_count

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [5]:

missing_values_count = reactions.isnull().sum()
missing_values_count

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [11]:
missing_values_count = rtypes.isnull().sum()
missing_values_count

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [61]:
#drop na values in type for reactions df

reactions_cleaned = reactions.dropna(subset=['Type'])

In [24]:
reactions_cleaned.shape
reactions_cleaned.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58

## check data types for each column in each df

In [25]:
print(reactions_cleaned.dtypes)

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Datetime      object
dtype: object

In [62]:
#change datetime data type

reactions_cleaned['Datetime'] = pd.to_datetime(reactions_cleaned['Datetime'])

<ipython-input-62-d86f377b9a2d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reactions_cleaned['Datetime'] = pd.to_datetime(reactions_cleaned['Datetime'])

In [27]:
print(reactions_cleaned.dtypes)

Unnamed: 0             int64
Content ID            object
User ID               object
Type                  object
Datetime      datetime64[ns]
dtype: object

In [30]:
print(content.dtypes)

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Category      object
URL           object
dtype: object

In [ ]:
#drop Unnamed: 0  column in all dataframes

In [31]:
#del reactions_cleaned["Unnamed: 0"]

In [33]:
#del rtypes["Unnamed: 0"]

In [34]:
#del content["Unnamed: 0"]

## drop unneeded columms

In [63]:
reactions_cleaned = reactions_cleaned.drop(columns=[ 'User ID'])

In [64]:
content = content.drop(columns=[ 'User ID'])

## check for inconsistent values in columns

In [48]:
unique = content['Type'].unique()
print(unique)

['photo' 'video' 'GIF' 'audio']

In [49]:
unique = content['Category'].unique()
print(unique)

['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' '"culture"' 'Fitness'
 '"studying"' 'Veganism' '"animals"' 'Travel' '"soccer"' 'Education'
 '"dogs"' 'Technology' 'Soccer' '"tennis"' 'Culture' '"food"' 'Food'
 '"technology"' 'Healthy Eating' '"cooking"' 'Science' '"public speaking"'
 '"veganism"' 'Public Speaking' '"science"']

In [65]:
#makes all values lowercase
#remove double quotes 

content['Category'] = content['Category'].str.lower()

In [66]:
content['Category'] = content['Category'].str.strip('""')

In [54]:
unique = content['Category'].unique()
print(unique)

['studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'veganism' 'animals' 'culture']

In [58]:

unique = reactions_cleaned['Type'].unique()
print(unique)

['disgust' 'dislike' 'scared' 'interested' 'peeking' 'cherish' 'hate'
 'love' 'indifferent' 'super love' 'intrigued' 'worried' 'like' 'heart'
 'want' 'adore']

In [67]:
reactions_cleaned.head()

,Unnamed: 0,Content ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58

In [68]:
content

,Unnamed: 0,Content ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [69]:
rtypes

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [80]:
rtypes = rtypes.rename(columns={'Type': 'Reaction_type'})

In [70]:
result_outer = pd.merge(reactions_cleaned, content, on='Content ID', how='outer')

In [73]:
result_outer.head()

,Unnamed: 0_x,Content ID,Type_x,Datetime,Unnamed: 0_y,Type_y,Category,URL
0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
1,2.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
2,3.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
3,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
4,5.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...

In [74]:
result_outer = result_outer.rename(columns={'Type_x': 'Reaction_type'})

In [76]:
result_outer = result_outer.rename(columns={'Type_y': 'Content_type'})

In [77]:
result_outer.head()

,Unnamed: 0_x,Content ID,Reaction_type,Datetime,Unnamed: 0_y,Content_type,Category,URL
0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
1,2.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
2,3.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
3,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...
4,5.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...

In [82]:
result_outer = pd.merge(result_outer, rtypes, on='Reaction_type', how='outer')

In [83]:
result_outer.head()

,Unnamed: 0_x,Content ID,Reaction_type,Datetime,Unnamed: 0_y,Content_type,Category,URL,Unnamed: 0,Sentiment,Score
0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...,2.0,negative,0.0
1,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...,2.0,negative,0.0
2,35.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,0,photo,studying,https://socialbuzz.cdn.com/content/storage/975...,2.0,negative,0.0
3,52.0,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,1,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...,2.0,negative,0.0
4,88.0,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,2,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...,2.0,negative,0.0

In [86]:
csv_file_path = r"C:\Users\19178\OneDrive\Documents\Downloads\datasets\accenture_final.csv"
result_outer.to_csv(csv_file_path, index=False)

In [88]:
top_5 = result_outer.groupby("Category").sum()

In [93]:
top_5.sort_values(by='Score', ascending=False).head(5)

                Unnamed: 0_x  Unnamed: 0_y  Unnamed: 0    Score
Category
animals           26444291.0       1028773     14298.0  74965.0
science           26163332.0       1020473     13315.0  71168.0
healthy eating    20769958.0        807605     12624.0  69339.0
technology        21769618.0        846515     12357.0  68738.0
food              20877178.0        813250     12484.0  66676.0